<!DOCTYPE html>
<html lang="zxx" class="js">



{{{body}}}

<!-- Start Section -->
<div class="section footer-section section-pad-md no-pb">
    <div class="ui-shape ui-shape-light ui-shape-footer"></div>
    <div class="container">
        <div class="row">
            <!-- .col -->
            <div class="col-lg-4 col-sm">
                <div class="widget-item">
                    <h5 class="widget-title">RESOURCES</h5>
                    <ul class="widget-links">
                        <li>
                            <a href="#Agro_Video">
                                Agrolyte
                                Video
                            </a>
                        </li>
                        <li>
                            <a href="assets/doc/AgroLyteWhitepaper2.0.pdf">Whitepaper</a>
                        </li>
                        <li>
                            <a href="assets/doc/AgroLyteOnePagerv1.1.pdf">Onepager</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .col -->
            <div class="col-lg-4 col-sm">
                <div class="widget-item">
                    <h5 class="widget-title">Company</h5>
                    <ul class="widget-links">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="https://agrolyte.com/#about">About</a>
                        </li>
                        <li>
                            <a href="https://agrolyte.com/#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="https://agrolyte.com/#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .col -->
            <div class="col-lg-4">
                <div class="widget-item">
                    <h5 class="widget-title widget-title-ncap">NewsLetter</h5>
                    <div class="widget-subsctibe">
                        <p>Subcribe to our newsletter and receive update about Agrolyte</p>
                        <form id="subscribe-form" action="/newsletter" method="post" class="subscription-form subscription-form-sm">
                            <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address">
                            <input type="text" class="d-none" name="form-anti-honeypot" value="">
                            <button type="submit" class="btn btn-plane">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                            <div class="subscribe-results"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-sm-6 res-m-bttm">
                    <a class="footer-brand" href="/">
                        <img class="logo logo-light" alt="logo" src="images/logo-full-white.png">
                    </a>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <span class="copyright-text"> &copy; AgroLyte Ltd, 2018. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
    <!-- .container -->
</div>
<!-- End Section -->


<!-- Preloader !remove please if you do not want -->
<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->
<a href="/assets/doc/AgroLyte_Audit.pdf"></a>
<a href="/assets/images/fav.png"></a>

<!-- JavaScript (include all script here) -->
<script>
    var closebtns = document.getElementsByClassName("closer");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
<script src="assets/js/jquery.bundlee222.js?ver=142"></script>
<script src="assets/js/scripte222.js?ver=142"></script>
<script>
    function myFunction1(that) {
        var inp = document.createElement('input');
        var tt = document.getElementById("myInput1")
        document.body.appendChild(inp)
        inp.value = that.textContent
        inp.select();
        document.execCommand('copy', false);
        inp.remove();
        tt.innerHTML = "<b>Copied!!!</b>"
        lent();
        function lent() {
            setTimeout(function () {
                var addr = "<b>0xd1a616cd3BD9Db97639ec484d843d37f2Caa3035</b>"
                tt.innerHTML = addr;
                //tt.innerHTML = 
            }, 3000)
        }
        //alert(inp.value)
    }
</script>

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    // function topFunction() {
    // document.body.scrollTop = 0;
    //    document.documentElement.scrollTop = 0;
    //  }

    $("#myBtn").click(function () {
        // When arrow is clicked
        $("body,html").animate(
            {
                scrollTop: 0 // Scroll to top of body
            },
            500
        );
    });
</script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>

</html>