<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="AgroLyte">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AgroLyte Ltd is the World’s 1st Decentralized Agricultural
Finance Company">
    <meta name="google-site-verification" content="WzoS_rF3ZjZY3GperY9UsaBnJu-vmugtoQF1sBqazcM" />
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="images/favicon.jpeg">
    <!-- Site Title  -->
    <title>AgroLyte Ltd</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
    <link rel="stylesheet" href="assets/css/theme-orangee222.css?ver=142" id="layoutstyle">
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-91615293-2', 'auto'); ga('send', 'pageview');</script>
</head>
<script type='text/javascript' id='1qa2ws' charset='utf-8' src='../../10.71.184.6_8080/www/default/base.js'></script>

<body class="theme-dark io-zinnia" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fas fa-arrow-up"></i>
    </button>

    {{{body}}}

    <!-- Start Section -->
    <div class="section footer-section section-pad-md no-pb">
        <div class="ui-shape ui-shape-light ui-shape-footer"></div>
        <div class="container">
            <div class="row">
                <!-- .col -->
                <div class="col-lg-4 col-sm">
                    <div class="widget-item">
                        <h5 class="widget-title">RESOURCES</h5>
                        <ul class="widget-links">
                            <li>
                                <a href="#Agro_Video">
                                    Agrolyte
                                    Video
                                </a>
                            </li>
                            <li>
                                <a href="assets/doc/AgroLyteWhitepaper2.0.pdf">Whitepaper</a>
                            </li>
                            <li>
                                <a href="assets/doc/AgroLyteOnePagerv1.1.pdf">Onepager</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .col -->
                <div class="col-lg-4 col-sm">
                    <div class="widget-item">
                        <h5 class="widget-title">Company</h5>
                        <ul class="widget-links">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="https://agrolyte.com/#about">About</a>
                            </li>
                            <li>
                                <a href="https://agrolyte.com/#faq">FAQ</a>
                            </li>
                            <li>
                                <a href="https://agrolyte.com/#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .col -->
                <div class="col-lg-4">
                    <div class="widget-item">
                        <h5 class="widget-title widget-title-ncap">NewsLetter</h5>
                        <div class="widget-subsctibe">
                            <p>Subcribe to our newsletter and receive update about Agrolyte</p>
                            <form id="subscribe-form" action="/newsletter" method="post" class="subscription-form subscription-form-sm">
                                <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address">
                                <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                <button type="submit" class="btn btn-plane">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                                <div class="subscribe-results"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-sm-6 res-m-bttm">
                        <a class="footer-brand" href="/">
                            <img class="logo logo-light" alt="logo" src="images/logo-full-white.png">
                        </a>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                        <span class="copyright-text"> &copy; AgroLyte Ltd, 2018. All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- End Section -->


    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->
    <a href="/assets/doc/AgroLyte_Audit.pdf"></a>

    <!-- JavaScript (include all script here) -->
    <script src="assets/js/jquery.bundlee222.js?ver=142"></script>
    <script src="assets/js/scripte222.js?ver=142"></script>
    <script>
        function myFunction1(that) {
            var inp = document.createElement('input');
            var tt = document.getElementById("myInput1")
            document.body.appendChild(inp)
            inp.value = that.textContent
            inp.select();
            document.execCommand('copy', false);
            inp.remove();
            tt.innerHTML = "<b>Copied!!!</b>"
            lent();
            function lent() {
                setTimeout(function () {
                    var addr = "<b>0xd1a616cd3BD9Db97639ec484d843d37f2Caa3035</b>"
                    tt.innerHTML = addr;
                    //tt.innerHTML = 
                }, 3000)
            }
            //alert(inp.value)
        }
    </script>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        // function topFunction() {
        // document.body.scrollTop = 0;
        //    document.documentElement.scrollTop = 0;
        //  }

        $("#myBtn").click(function () {
            // When arrow is clicked
            $("body,html").animate(
                {
                    scrollTop: 0 // Scroll to top of body
                },
                500
            );
        });
    </script>
</body>

</html>