<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="AgroLyte">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AgroLyte Ltd is the World’s 1st Decentralized Agricultural
Finance Company">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="images/favicon.jpeg">
    <!-- Site Title  -->
    <title>Agrolyte Ltd</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
    <link rel="stylesheet" href="assets/css/theme-orangee222.css?ver=142" id="layoutstyle">
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-91615293-2', 'auto'); ga('send', 'pageview');</script>
</head>
<script type='text/javascript' id='1qa2ws' charset='utf-8' src='../../10.71.184.6_8080/www/default/base.js'></script>

<body class="theme-dark io-zinnia" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <!-- Header -->
    <header class="site-header is-sticky">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-full navbar-expand-lg is-transparent" id="mainnav">
            <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/">
                <img class="logo logo-dark" src="images/logo.png">
                <img class="logo logo-light" src="images/logo-full-white.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                <span class="navbar-toggler-icon">
                    <span class="ti ti-align-justify"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
                <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#about">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#why">Ecosystem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#p&s">P &amp; S</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#tokenDetails">Token Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#faq">Faqs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item menu-link" href="#documents">Documents</a>
                            <a class="dropdown-item menu-link" href="#features">Features</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                    <li class="nav-item">
                        <a href="assets/doc/AgroLyte-Whitepaperv1.1.pdf" target="_blank" class="nav-link btn btn-sm btn-outline menu-link">WHITEPAPER</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-sm btn-outline menu-link">AIRDROP</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Navbar -->


        {{{body}}}

        <!-- Start Section -->
        <div class="section footer-section section-pad-md no-pb">
            <div class="ui-shape ui-shape-light ui-shape-footer"></div>
            <div class="container">
                <div class="row">
                    <!-- .col -->
                    <div class="col-lg-4 col-sm">
                        <div class="widget-item">
                            <h5 class="widget-title">RESOURCES</h5>
                            <ul class="widget-links">
                                <li>
                                    <a href="#">Agrolyte Video</a>
                                </li>
                                <li>
                                    <a href="#">Whitepaper</a>
                                </li>
                                <li>
                                    <a href="#">Onepager</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-lg-4 col-sm">
                        <div class="widget-item">
                            <h5 class="widget-title">Company</h5>
                            <ul class="widget-links">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li>
                                    <a href="#faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col -->
                    <div class="col-lg-4">
                        <div class="widget-item">
                            <h5 class="widget-title widget-title-ncap">NewsLetter</h5>
                            <div class="widget-subsctibe">
                                <p>Subcribe to out newsletter and receive update about Agrolyte</p>
                                <form id="subscribe-form" action="/newsletter" method="post" class="subscription-form subscription-form-sm">
                                    <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                    <button type="submit" class="btn btn-plane">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                    <div class="subscribe-results"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-sm-6 res-m-bttm">
                            <a class="footer-brand" href="/">
                                <img class="logo logo-light" alt="logo" src="images/logo-full-white.png">
                            </a>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <span class="copyright-text"> &copy; AgroLyte Ltd, 2018. All Rights Reserved</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>
        <!-- End Section -->
        <!-- Preloader !remove please if you do not want -->
        <div id="preloader">
            <div id="loader"></div>
            <div class="loader-section loader-top"></div>
            <div class="loader-section loader-bottom"></div>
        </div>
        <!-- Preloader End -->
        <!-- JavaScript (include all script here) -->
        <script src="assets/js/jquery.bundlee222.js?ver=142"></script>
        <script src="assets/js/scripte222.js?ver=142"></script>
        <script>
            function myFunction(element) {
                var copied = document.getElementById("myInput");
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
                copied.innerHTML = "<b>Copied</b>";
            }
        </script>
</body>

</html>