<head>
    <meta charset="utf-8">
    <meta name="author" content="AgroLyte">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AgroLyte Ltd is the World’s 1st Decentralized Agricultural
Finance Company">
    <meta name="google-site-verification" content="WzoS_rF3ZjZY3GperY9UsaBnJu-vmugtoQF1sBqazcM" />
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="images/favicon.jpeg">
    <!-- Site Title  -->
    <title>B.E.L.E</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundlee222.css?ver=142">
    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/stylee222.css?ver=142">
    <link rel="stylesheet" href="assets/css/theme-orangee222.css?ver=142" id="layoutstyle">
    <link rel="stylesheet" href="assets/css/carousel.css" />
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-91615293-2', 'auto'); ga('send', 'pageview');</script>
</head>
<script type='text/javascript' id='1qa2ws' charset='utf-8' src='../../10.71.184.6_8080/www/default/base.js'></script>

<body class="theme-dark io-zinnia" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <!-- Header -->
    <header class="site-header is-sticky fixed-top">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-full navbar-expand-lg is-transparent" id="mainnav">
            <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/">
                <img class="logo logo-dark" src="images/logo.png">
                <img class="logo logo-light" src="images/logo-full-white.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                <span class="navbar-toggler-icon">
                    <span class="ti ti-align-justify"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
                <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#about">About
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#why">Ecosystem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#p&s">P &amp; S</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#tokenDetails">Token Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#faq">Faqs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item menu-link" href="#documents">Documents</a>
                            <a class="dropdown-item menu-link" href="#features">Features</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                    <li class="nav-item">
                        <a href="assets/doc/AgroLyteWhitepaper2.0.pdf" target="_blank" class="nav-link btn btn-sm btn-outline menu-link">WHITEPAPER</a>
                    </li>
                    <li class="nav-item">
                        <a href="/airdrop" class="nav-link btn btn-sm btn-outline menu-link">AIRDROP</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Banner/Slider -->
        <div id="header" class="banner banner-zinnia">
            <div class="ui-shape ui-shape-light ui-shape-header"></div>
            <div class="container">
                <div class="banner-content">
                    <div class="row align-items-center text-center justify-content-center">
                        <div class="col-sm-10 col-md-12 col-lg-10">
                            <div class="header-txt tab-center mobile-center">
                                <h1 class="animated" data-animate="fadeInUp" data-delay="1.25">The Biggest
                                    Exchange
                                    <br class="d-none d-xl-block"> Listing Event
                                </h1>
                                <div class="gaps size-1x d-none d-md-block"></div>
                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.35">The first ever cross
                                    exchange
                                    daily
                                    <br class="d-none d-sm-block"> trading competition
                                </p>
                                <div class="gaps size-1x d-none d-md-block"></div>
                                <ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
                                    <li>
                                        <a href="/buy-agr" class="btn btn-icon-s3 ">BUY AGR
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-icon-s3 expand-trigger content-popup">E-LIBRARY
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- .col  -->
                    </div>
                    <!-- .row  -->
                </div>
                <!-- .banner-content  -->
            </div>
            <!-- .container  -->

            <ul class="hr-social hr-social-mid animated" data-animate="fadeIn" data-delay="1.55">
                <li>
                    <a target="_blank" href="https://twitter.com/LyteOfficial_">
                        <em class="fab fa-twitter"></em>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://t.me/AgroLyteOfficial">
                        <em class="fas fa-paper-plane"></em>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://m.facebook.com/AgroLyteOfficial">
                        <em class="fa fa-facebook"></em>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/AgroLyte">
                        <em class="fab fa-github"></em>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/agrolyte-ltd/">
                        <em class="fa fa-linkedin"></em>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://medium.com/@agrolyteofficial">
                        <em class="fab fa-medium-m"></em>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Banner/Slider -->
    </header>
    <!-- End Header -->



    <!-- Start Section -->
    <div class="section section-pad section-bg" id="why">
        <div class="ui-shape ui-shape-s1"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <div class="animated" data-animate="fadeInUp" data-delay=".5">
                        <div id="Agro_Video" class="row justify-content-center text-center">
                            <div class="video-box-s3 animated" data-animate="fadeInUp" data-delay=".5 ">
                                <img src="images/video-c.jpg" alt="cover">
                                <a href="https://www.youtube.com/watch?v=krfWx2pJsPw" class="play-btn-s3 video-play">
                                    <img src="images/zinnia/play-icon.png" alt="icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-last text-center text-lg-left res-m-bttm">
                    <div class="text-block">
                        <h2 class="animated" data-animate="fadeInUp" data-delay=".1">B.E.L.E</h2>
                        <p class="lead animated" data-animate="fadeInUp" data-delay=".2">
                            <strong>The Biggest Exchange Listing Event.
                            </strong>
                        </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">
                            The first ever cross exchange daily trading competition.
                        </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            B.E.L.E is being organized to birth the AgroLyte project to the world in the most
                            impressive
                            and revolutionary way by organizing the first of it kind event.
                        </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".5">
                            Leading forward to the adoption of the blockchain technology and a revolutionary project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->



    <!-- Start Section -->
    <div class="section section-pad document-section section-bg-zinnia" id="parthner">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <div class="section-head-s7">
                        <h2 class="section-title-s7 animated" data-animate="fadeInUp" data-delay=".1">Participating
                            Exchanges</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top content -->
        <div class="top-content">
            <div class="container-fluid">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto animated" data-animate="fadeInUp" data-delay=".3" role="listbox">
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                            <img src="assets/images/backgrounds/1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/6.jpg" class="img-fluid mx-auto d-block" alt="img6">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/7.jpg" class="img-fluid mx-auto d-block" alt="img7">
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="assets/images/backgrounds/8.jpg" class="img-fluid mx-auto d-block" alt="img8">
                        </div>
                    </div>
                    <a class="carousel-control-prev animated" data-animate="fadeInUp" data-delay=".2" href="#carousel-example"
                        role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next animated" data-animate="fadeInUp" data-delay=".4" href="#carousel-example"
                        role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="container pex" style="margin-top: 2em">
                        <span class=" animated" data-animate="fadeInUp" data-delay=".5">Participating
                            exchanges will be announced individually and will be updated here.</span>
                        <div style="margin-top: 2em">
                            <a href="mailto:corporate@agrolyte.com" class="btn btn-outline">Become a Participating
                                Exchange
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- End Section -->